@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Nome: @ViewData["Nome"]</h2>

<h3>Nome: @ViewData["Message"]</h3>

<h3>Nome: @ViewData["email"]</h3>

<p>Use this page to detail your site's privacy policy.</p>
